// Definitions for audioinjector.net audio add on soundcard
/dts-v1/;
/plugin/;

#include <dt-bindings/pinctrl/rockchip.h>

/ {
	compatible = "rockchip,rk3288-miniarm", "rockchip,rk3288";

	fragment@0 {
		target = <&i2s>;
		__overlay__ {
			status = "okay";
			rockchip,bcm2835_compatibility_mode = <1>;
		};
	};

	fragment@1 {
		target = <&i2c1>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			cs42448: cs42448@48 {
				#sound-dai-cells = <0>;
				compatible = "cirrus,cs42448";
				reg = <0x48>;
				clocks = <&cs42448_mclk>;
				clock-names = "mclk";
				status = "okay";
			};

			cs42448_mclk: codec-mclk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <49152000>;
			};
		};
	};

	fragment@2 {
		target-path = "/sound-ext-card";
		snd: __overlay__ {
			compatible = "ai,audioinjector-octo-soundcard";
			mult-gpios = <&gpio5 RK_PB6 0>, <&gpio5 RK_PB7 0>, <&gpio5 RK_PB2 0>,
				     <&gpio5 RK_PB3 0>;
			reset-gpios = <&gpio5 RK_PB5 0>;
			i2s-controller = <&i2s>;
			codec = <&cs42448>;
			status = "okay";
		};
	};

	fragment@3 {
		target-path = "/sound-simple-card";
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@4 {
		target = <&hdmi>;
		__overlay__ {
			hdmi-i2s-audio-disable;
		};
	};

	__overrides__ {
		non-stop-clocks = <&snd>, "non-stop-clocks?";
	};
};
